.context {
  height: 100%;
  width: 100%;
  background-color: #f3f2ec;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  overflow-y: scroll;
}

.demo {
  --accent-color: #c5a992;
  --secondary-color: #c5a992;
  --dark-color: #2f2f2f;
  --light-color: #f3f2ec;
  --body-text-color: #757575;
  --light-text-color: #afafaf;
  --dark-text-color: #2f2f2f;

  --body-font: "Raleway", sans-serif;
  --heading-font: "Prata", Georgia, serif;
  --secondary-font: "Playfair Display", Georgia, serif;
}

.header {
  /* background-color: red; */
  position: relative;
  top: 5%;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* z-index: 2; */
}

.continue {
  position: absolute;
  left: 4.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 82%;
  /* width: 12%; */
  top: 3px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.continue:hover,
.checkout:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.main_area {
  /* background-color: rgb(51, 0, 255); */
  height: auto;
  width: 95%;
  left: 2%;
  top: 10%;
  /* padding: 4%; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.product {
  position: relative;
  /* background-color: red; */
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.product_details {
  /* background-color: #ffffff; */
  position: relative;
  height: 250px;
  top: 0%;
  width: 98%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

.left {
  /* background-color: red; */
  position: absolute;
  height: 95%;
  width: 60%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: 4px;
}

.mid {
  /* background-color: red; */
  position: relative;
  height: 95%;
  width: 30%;

  margin: 4px;
}
.right {
  /* background-color: red; */
  position: relative;
  height: 95%;
  width: 10%;
  left: -5%;
  margin: 4px;
}

.cover {
  width: 40%;
  height: 95%;
  position: relative;
  margin: 1%;
}

.book_details {
  /* background-color: #17bd25; */
  width: 90%;
  height: auto;
  position: relative;
  top: 10%;
  left: 5%;
  /* padding: 10%; */
}

.title {
  font-size: 25px;
  position: relative;
  left: 2%;
  top: 2%;
}
.id {
  font-size: 15px;
  position: relative;
  left: 2%;
  top: 2%;
}

.price {
  font-size: 15px;
  position: relative;
  left: 2%;
  top: -10px;
}

.delete {
  font-size: 15px;
  position: relative;
  left: 2%;
  top: -25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  color: red;
  /* border-bottom: 1px solid red; */
}

.amount {
  position: relative;
  left: 1%;
}

.book_price {
  position: relative;
  top: 25%;
  left: 20%;
}

.book_price > span {
  font-size: 5px;
}

.remove {
  position: relative;
  /* top: 25%; */
  /* left: 45%; */
  height: 15%;
  width: 10%;
  /* left: 25%;
  bottom: 20%; */
  display: flex;
  flex-direction: row;
  background-color: red;
}

.trash {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.trash:hover {
  color: red;
  cursor: pointer;
}

.details {
  background-color: #5048487f;
  /* height: 330px; */
  width: 35%;
  position: absolute;
  right: 5%;

  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  font-family: "Times New Roman", Times, serif;
}

.checkOutButton {
  position: absolute;
  background-color: rgb(0, 0, 0);
  /* top: 20px; */
  left: 0px;
  bottom: -50px;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
}

.details > .title {
  color: white;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.gst,
.shipping,
.total,
.methods {
  position: relative;
  border-bottom: 1px solid white;
  padding: 10px;
  top: 10px;
}

.details > .gst {
  position: relative;
  top: 10px;
}

.methods {
  border: none;
}

.methods > img {
  width: 50%;
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.details1 {
  background-color: #8a80807f;
  height: 250px;
  width: 98%;
  /* border: 1px solid grey; */
  border-bottom: none;
  left: 2%;
  /* top: 0%; */
  position: relative;
  right: 5%;
  display: none;
  /* display: flex; */
  flex-direction: column;
  /* padding: 10px; */
  font-family: "Times New Roman", Times, serif;
}

.details1 .methods > img {
  width: 100px;
  height: 30px;
}

.details1 .checkOutButton {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: 1px solid grey;
  border-top: none;
  width: 100.1%;
}

@media screen and (max-width: 900px) {
  .cover {
    width: 70%;
    height: 95%;
    position: relative;
    margin: 1%;
  }

  .book_details {
    left: 10%;
  }
}

@media screen and (max-width: 820px) {
  .details {
    display: none;
  }

  .details1 {
    display: flex;
  }

}

@media screen and (max-width: 410px) {
  .cover {
    display: none;
  }
}
